@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #505050;
    --background-2-color: #f0f0f0e7;
    --text-color: #02060c;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

img {
    width: 35%;

}

html,
body {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: var(--text-color);
}

.location-inp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temp {
    color: var(--background-2-color);
}

.location-inp input {
    padding: 10px 15px;
    width: 90%;
    font-size: 20px;
    outline: none;
    border: none;
    margin: auto;
    margin-top: 15px;
    background: var(--background-2-color);
    border-radius: 10px;
    position: relative;
    color: var(--text-color);

}

.location-inp .search {
    font-size: 22px;
    position: absolute;
    right: 20%;
    font-size: 25px;
    top: 5%;
    cursor: pointer;
    color: var(--text-color);
}

.dark {
    font-size: 22px;
    position: absolute;
    right: 10%;
    font-size: 25px;
    top: 5%;
    cursor: pointer;
    color: var(--text-color);
}

/* show-weather */

.show-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    gap: 20;
}

.show-weather img {
    width: 30%;


}

.show-weather h1 {
    font-size: 40px;
    margin-top: 8px;
    font-weight: normal;
}

.show-weather h1:last-child {
    font-weight: 600;
    font-size: 42px;
}

.show-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    background-color: var(--background-2-color);
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
}

.show-options h5 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin: 5px;
    color: var(--primary-color);
}

.show-options h4 {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin: 5px;
}

.mid-timings h4 {
    color: var(--text-color);
}

.city-name {
    color: var(--background-2-color);

}

.show-options h4 {
    color: var(--text-color);
}



.timings {
    background-color: red;
    width: 100%;
    margin-top: 20px;
    background: var(--background-2-color);
    padding: 10px;
    height: 225px;
    border-radius: 10px;
}

.timings .header-time {
    font-size: 20px;
    padding: 10px;
    color: var(--primary-color);
}

.timings .mid-timings {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    gap: 50px;
    text-align: center;
    color: var(--primary-color);
}

.timings .mid-timings h2 {
    color: var(--text-color);
    gap: 20px;
}

.lenght-day {
    color: var(--primary-color);
    font-size: 18px;
    margin-top: 30px;
    width: 100%;
}

.lenght-day h5 {
    margin-left: 10%;
}

/* responsive */

@media (min-width: 768px) {
    .show-weather img {
        width: 10%;

    }

    .location-inp input {
        padding: 15px 20px;
        width: 60%;
        font-size: 20px;
        outline: none;
        border: none;
        margin: auto;
        background: var(--background-2-color);
        border-radius: 10px;
        position: relative;
    }

    .location-inp .search {
        position: absolute;
        right: 25%;
        font-size: 25px;
        top: 3%;
        cursor: pointer;
    }

    .show-options {
        width: 70%;
        margin: 15px auto;
    }

    .timings {
        width: 80%;
        height: 201px;
        margin: 30px auto;
    }

    .dark {
        font-size: 22px;
        position: absolute;
        right: 22%;
        font-size: 25px;
        top: 3%;
        cursor: pointer;
    }
}