/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body for height */
body,
html {
    font-family: 'Segoe UI', sans-serif;
}

/* Open Button */
.open-btn {
    margin: 100px auto;
    display: block;
    padding: 12px 24px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.open-btn:hover {
    background-color: #4338ca;
}

/* Popup Overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;

}

/* Show class to display */
.popup-overlay.show {
    display: flex;
}

/* Popup Box */
.popup {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    color: #fff;
    max-width: 90%;
    width: 400px;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}